* {
    margin: 0;
    padding: 0;
}

.wrapper{
    margin-left: 100px;
    width: 1000px;
}


.img-selfie {
    width: 368px;
    height: 552px;
    background-image: url(img/selfie.jpg);
    background-size: 100%;
}

.container {
    width: 368px;
    height: 250px;
    margin: auto;
}

ul {
    text-align: left;
}