.wrapper{
    margin-left: 765px;
    width: 1000px;
}


.img-selfie {
    margin-bottom: 50px;
    width: 368px;
    height: 552px;
    background-image: url(img/selfie.jpg);
    background-size: 100%;
}

.container {
    width: 368px;
    height: 250px;
    margin: auto;
}

ul {
    text-align: left;
}

p {
    margin-bottom: 100px;
}